
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-colour) rgb(0, 0, 0);
}

html, 
body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #7027CE;
}

body {
  background-color: #0F0E0E!important;
}

button:focus {
  outline: none
}

.lora-bold {
  font-family: "Lora", serif;
  font-weight: 700;
}

.lora-regular {
  font-family: "Lora", serif;
  font-weight: 100;
}