
/*css for mttn and almity logos*/
div.logos{
    position: relative;
    margin-left: 7%;
    padding-left: 7%;
}

/*avatar name*/
h1.name{
    position: absolute;
    top:20%;
    left: 14%;
    padding: 10%;
    max-width: 100%;
    max-height: 100%;
    font-size:200%;
    opacity: 1;
    visibility: hidden;
}


/* avatar stylings with hover */
div.avatar{
    position: relative;
}

img.avatar{
    max-height:100%;
    max-width:100%;
    opacity: 1;
}


div.avatar:hover .avatar {
    opacity: 0.3;
}

  

div.avatar:hover .name {
    visibility: visible;
  }
  
/*background smoke animation effect*/

  div.main{
    background: url("https://res.cloudinary.com/da51wkm4r/image/upload/v1461143297/title/smoke.png"),url("https://res.cloudinary.com/da51wkm4r/image/upload/v1461143297/title/smoke.png");
    background-repeat: no-repeat,no-repeat;
    background-position: 0 150%,50% 125%;
    background-size: 120%,120%;
    animation: tran infinite 54s linear,tran infinite 47s linear;
    overflow: hidden;
  }
  
  @keyframes tran {
    100% {background-position: 100% -100%,100% -100%;}
  }

  section.first{
    background: url("https://res.cloudinary.com/da51wkm4r/image/upload/v1461143297/title/smoke.png"),url("https://res.cloudinary.com/da51wkm4r/image/upload/v1461143297/title/smoke.png"),url("https://res.cloudinary.com/da51wkm4r/image/upload/v1461143297/title/smoke.png");
    background-repeat: no-repeat;
    background-position: 50% 115%,0% 100%,0% 130%;
    background-size: 120%,120%,120%;
    animation: transec infinite 43s linear,transec infinite 36s linear,transec infinite 39s linear;
  }
  
  @keyframes transec {
    100% {background-position: 50% -100%,0% -100%,0% -100%;}
  }

 /*link colors for sidebar*/ 

p.linkp{
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}

p.linkp:hover {
  color: rgba(112, 39, 206, 1);
}
p.linkp:active {
  color: rgba(112, 39, 206, 1);

}
  

